<!-- Home page -->
{% extends "layout.html" %}

{% block content %}
<!-- Image -->
<section>
    <div class="body">

        <section class="section">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="content is-medium">
                        <h1 class="title">Justin Medeiros</h1>
                        <h2 class="subtitle is-4">CrossFit Fort Vancouver</h2>
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card" style="width: 18rem;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <span class="placeholder col-12"></span>

                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
