<!-- Home page -->
{% extends "layout.html" %}

{% block content %}
<!-- Image -->
<section>
    <div class="body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <figure class="image is-16by9">
                        <img src="{{ url_for('static', filename='images/first-post.png')}}" alt="">
                    </figure>
                </div>
            </div>

            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h2 class="subtitle is-4">January 19, 2023</h2>
                            <h1 class="title">Welcome to Baserank</h1>
                            <p>Baserank is a global registry of CrossFit and functional fitness competitions worldwide.
                                On top of that Baserank is a propietary ranking model based on Baysean statistics,
                                attempting to rank all athltes in the world.</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="is-divider"></div>
            <section>
                <div class="row">

                    <div class="col">
                        <div class="card shadow">
                            <table class="table mb-0 table-hover">
                                <thead class="table-primary">
                                <tr>
                                    <th></th>
                                    <td>World Top 10 men</td>
                                </tr>
                                </thead>
                                <tbody>

                                {% for i in ww_m %}
                                <tr>
                                    <th>{{ loop.index0 + 1 }}</th>
                                    <td><img class="mr-1 fw-bold"
                                             src="{{ url_for('static', filename='flags/shiny/16/' + i[5] + '.png') }}"><a
                                            href="#">{{i[1]}} {{i[2]}} </a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow">
                            <table class="table mb-0 table-hover">
                                <thead class="table-primary">
                                <tr>
                                    <th></th>
                                    <td>World Top 10 women</td>
                                </tr>
                                </thead>

                                <tbody>

                                {% for i in ww_f %}
                                <tr>
                                    <th>{{ loop.index0 + 1 }}</th>
                                    <td><img class="mr-1 fw-bold"
                                             src="{{ url_for('static', filename='flags/shiny/16/' + i[5] + '.png') }}"><a
                                            href="#">{{i[1]}} {{i[2]}} </a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow">
                            <table class="table mb-0 table-hover">
                                <thead class="table-primary">
                                <tr>
                                    <th></th>
                                    <td>Denmark Top 10 men</td>
                                </tr>
                                </thead>

                                <tbody>

                                {% for i in dk_m %}
                                <tr>
                                    <th>{{ loop.index0 + 1}}</th>
                                    <td><img class="mr-1 fw-bold"
                                             src="{{ url_for('static', filename='flags/shiny/16/' + i[5] + '.png') }}"><a
                                            href="#">{{i[1]}} {{i[2]}} </a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow">
                            <table class="table mb-0 table-hover">

                                <thead class="table-primary">
                                <tr>
                                    <th></th>
                                    <td colspan="3">Denmark Top 10 women</td>
                                </tr>
                                </thead>

                                <tbody>

                                {% for i in dk_f %}
                                <tr>
                                    <th>{{ loop.index0 + 1 }}</th>
                                    <td><img class="mr-1 fw-bold"
                                             src="{{ url_for('static', filename='flags/shiny/16/' + i[5] + '.png') }}">
                                        <a href="#">{{i[1]}} {{i[2]}} </a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </section>
            <div class="is-divider"></div>

            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h2 class="subtitle is-4">Newest registered competitions</h2>
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>

{% endblock %}
